<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @blog.image_url %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @blog.blog_entry %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog.author %>
</p>

<p>
  <strong>Made:</strong>
  <%= @blog.made %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
